@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/json2.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-responsive.css" rel="stylesheet" />
</head>
<body>

    <div class="container-fluid" style="padding: 30px;">
        <div class="row-fluid">
            <div class="span2  table table-bordered">
                <div>
                    <input id="TEST" type="button" value="Get Persons" class="btn-large" />
                </div>
            </div>
            
            <div class="span4">
                <table class="table table-bordered">
                          <thead>
                              <tr>
                                  <th>#</th>
                                  <th>First Name</th>
                                  <th>Last Name</th>
                                  <th>Username</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>1</td>
                                  <td>Mark</td>
                                  <td>Otto</td>
                                  <td>TEST</td>
                              </tr>
                              <tr>
                                  <td>2</td>
                                  <td>Jacob</td>
                                  <td>Thornton</td>
                                  <td>TEST</td>
                              </tr>
                              <tr>
                                  <td>3</td>
                                  <td>Larry</td>
                                  <td>the Bird</td>
                                  <td>TEST</td>
                              </tr>
                          </tbody>
                      </table>
            </div>
            <div class="span4 table table-bordered" id="result">TEST</div>
            <div class="span2 table table-bordered">
                <input type="button" class="btn btn-primary" value="TEST"/>
                <input type="button" class="btn btn-primary" value="TEST"/>
                <input type="button" class="btn btn-info" value="TEST"/>
                <input type="button" class="btn btn-primary" value="TEST"/>
                <input type="button" class="btn btn-danger" value="TEST"/>

            </div>
        </div>
    </div>


</body>
</html>
<script>
    $(function () {
        $("#TEST").click(function () {
            var request = {};
            request.StartIndex = 0;
            request.PageSize = 10;

            var requestJson = JSON.stringify(request);

            alert("@Url.Content("~")");
            $.ajax({
                url: '@Url.Content("~")'+'RESTService/GetXX',
                type: "POST",
                contentType: "application/json",
                data: requestJson,
                dataType: "json",
                success: function (result) {
                    $("#result").html(JSON.stringify(result));
                },
                error: function (ex) {
                    alert(ex);
                }
            });

        });

    });

</script>
