@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/json2.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-responsive.css" rel="stylesheet" />
</head>
<body>

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2">
                <div>
                    <input id="TEST" type="button" value="Get Persons" class="btn-large" />
                </div>
            </div>
            <div class="span6" id="result"></div>
            <div class="span4">
                <button type="button" class="btn-large" value="TEST"></button>
                <button type="button" class="btn-large" value="TEST"></button>
                <button type="button" class="btn-large" value="TEST"></button>
                <button type="button" class="btn-large" value="TEST"></button>
                <button type="button" class="btn-large" value="TEST"></button>

            </div>
        </div>
    </div>


</body>
</html>
<script>
    $(function () {
        $("#TEST").click(function () {
            var request = {};
            request.StartIndex = 0;
            request.PageSize = 10;

            var requestJson = JSON.stringify(request);

            $.ajax({
                url: '@Url.Content("~")+"RESTService/GetPersons',
                type: "POST",
                contentType: "application/json",
                data: requestJson,
                dataType: "json",
                success: function (result) {
                    $("#result").html(JSON.stringify(result));
                },
                error: function (ex) {
                    alert(ex);
                }
            });

        });

    });

</script>
